html {
    font-family: sans-serif
}

article,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block
}

a:active,
a:hover {
    outline: 0px none
}

b {
    font-weight: 700
}

h1 {
    margin: 0.67em 0px
}

img {
    border: 0px none;
    vertical-align: middle
}

svg:not(:root) {
    overflow: hidden
}

input {
    color: inherit;
    font: inherit;
    margin: 0px
}

html input[type="button"],
input[type="submit"] {
    cursor: pointer
}

input::-moz-focus-inner {
    border: 0px none;
    padding: 0px
}

input {
    line-height: normal
}

@media print {
    *,
    *::after,
    *::before {
        background: transparent none repeat scroll 0px 0px ! important;
        color: rgb(0, 0, 0) ! important;
        box-shadow: none ! important;
        text-shadow: none ! important
    }
    a,
    a:visited {
        text-decoration: underline
    }
    a[href]::after {
        content: " (" attr(href) ")"
    }
    abbr[title]::after {
        content: " (" attr(title) ")"
    }
    a[href^="#"]::after {
        content: ""
    }
    img {
        page-break-inside: avoid
    }
    img {
        max-width: 100% ! important
    }
    h2,
    h3,
    p {}
    h2,
    h3 {
        page-break-after: avoid
    }
}

*,
*::after,
*::before {
    box-sizing: border-box
}

html {
    font-size: 10px
}

body {
    margin: 0px;
    font-family: Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255)
}

input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a {
    background-color: transparent;
    color: rgb(0, 153, 255);
    text-decoration: none
}

a:focus,
a:hover {
    color: rgb(0, 153, 255);
    text-decoration: underline
}

a:focus {
    outline: thin dotted;
    outline-offset: -2px
}

figure {
    margin: 0px
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto
}

h1,
h2,
h3 {
    font-family: Ubuntu;
    font-weight: 900;
    line-height: 1.25;
    color: inherit
}

h1,
h2,
h3 {
    margin-top: 22px;
    margin-bottom: 11px
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

p {
    margin: 0px 0px 0px
}
#clock {
	color: red;
}

.text-center {
    text-align: center
}

ul {
    margin-top: 0px;
    margin-bottom: 11px
}

abbr[title] {
    cursor: help;
    border-bottom: 1px dotted rgb(170, 170, 170)
}

.container {
    margin-right: auto;
    margin-left: auto;

}

@media (min-width:1px) {
    .container {
        width: 768px
    }
}


@media (min-width:1280px) {
    .container {
        width: 1255px
    }
}

.container::after,
.container::before {
    content: "";
    display: table
}

.container::after {
    clear: both
}

.pull-left {
    float: left ! important
}

.text-hide {
    font: 0px/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0px none
}