.substrate {
  background: #ffeca6;
  padding: 20px;
  margin-bottom: 20px;
}

.js_errorMessage { direction: ltr!important; }

.substrate h2 {
  font-size: 17px;
  line-height: 28px;
  margin-bottom: 25px;
}

.substrate ul {
  line-height: 28px;
  font-weight: 500;
  font-size: 18px;
}

.substrate li:nth-of-type(1) {
  margin-bottom: 20px;
}

.substrate span {
  display: block;
  font-size: 16px;
  color: gray;
  font-weight: normal;
  line-height: 20px;
}

.substrate.red {
  position: relative;
  background-color: #bf2219;
  color: #fff;
  margin-top: -20px;
}

.substrate.red::before {
  content: "";
  display: block;
  width: 300px;
  height: 300px;
  background-image: url(https://d7.pvdwxdhcompfss.com/lander/oculus-vision-meridian---dz---tl---nn88/files/GAN.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 20%;
  right: 20px;
}

.substrate.red p {
  color: #fff;
  padding-left: 40px;
  padding-right: 260px;
}

.badan {
  padding-left: 40px;
  font-size: 2em;
  text-transform: uppercase;
  color: #bf2219;
}

@media (max-width: 1280px) {
  .substrate.red::before {
    width: 150px;
    height: 150px;
    position: static;
    display: block;
    margin: -20px auto -20px;
  }
  .substrate.red p {
    padding-right: 0;
  }
  .badan {
    font-size: 1em;
    padding-left: 0;
    text-align: center;
  }
}

.badan::after {
  content: url(https://d7.pvdwxdhcompfss.com/lander/oculus-vision-meridian---dz---tl---nn88/files/badan.png);
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

.content-btn {
  background: red;
  padding: 23px;
  margin: 12px 0px;
  width: 178px;
  color: #fff;
  text-shadow: 0 -1px 0 #000000, 0 -1px 0 #000000, 0 1px 0 #000000,
    0 1px 0 #000000, -1px 0 0 #000000, 1px 0 0 #000000, -1px 0 0 #000000,
    1px 0 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000,
    1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000,
    -1px 1px 0 #000000, 1px 1px 0 #000000;
  font-size: 32px;
  border-radius: 5px;
  display: block;
  text-align: center;
  margin: 20px auto;
}

.content-btn:hover,
.content-btn:focus {
  text-decoration: none;
  color: #fff;
}

.submit-roulette:hover {
  background: #bb0000;
  transition: background 0.3s;
}

.submit-roulette:active {
  transform: translateY(2px);
  box-shadow: none;
}

input[value="Получить бесплатно"],
.submit-roulette {
  text-transform: uppercase;
  padding: 10px 15px;
  margin: 15px 0;
  outline: none;
  border: none;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 0px 4px 3px #242120;
  background: red;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
  width: 100%;
  max-width: 260px;
}

input[value="Получить бесплатно"]:hover {
  background: #bb0000 !important;
  transition: background 0.3s;
}

input[value="Получить бесплатно"]:active {
  transform: translateY(2px);
  box-shadow: none !important;
}

.input-roulette,
.country {
  padding-left: 5px;
  height: 42px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 260px;
  font-size: 17px;
  text-align: right;
}

.country {
   direction: rtl;
}

input[placeholder="Ваше имя"],
input[placeholder="Ваш телефон"] {
  padding-left: 5px;
  height: 42px;
  margin-bottom: 10px;
}

.textarea {
  line-height: normal;
  overflow-y: hidden;
  padding: 8px 7px;
  resize: none;
  box-sizing: border-box;
  width: 100%;
  max-width: 260px;
  font-size: 17px;
  font-family: inherit;
}

.ruletka-p {
  text-indent: 0px;
  color: black;
  text-align: center !important;
  margin: 15px;
  line-height: 25px;
  font-weight: bold;
}

.ruletka-p h2 {
  font-size: 25px;
  margin-bottom: 15px;
}

.ruletka-a {
  color: rgb(22, 151, 206);
}




.danger-text {
  color: red;
  font-weight: bold;
}



.cursor-text {
  position: absolute;
  z-index: 2;
  display: inline-block;
  width: 45% !important;
  height: 45%;
  font: 16px Arial !important;
  line-height: 61px !important;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  background-color: #ccc;
  border: 1px solid #ccc;
  top: 49%;
  left: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: rgba(255, 255, 255, 1) 0px -2px 0px inset,
    rgba(255, 255, 255, 1) 0px 2px 0px inset, rgba(0, 0, 0, 0.4) 0px 0px 5px;
  box-shadow: rgba(255, 255, 255, 1) 0px -2px 0px inset,
    rgba(255, 255, 255, 1) 0px 2px 0px inset, rgba(0, 0, 0, 0.4) 0px 0px 5px;
  background: rgb(255, 255, 255);
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, rgba(255, 255, 255, 1)),
    color-stop(100%, rgba(234, 234, 234, 1))
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 255, 255, 1) 0%,
    rgba(234, 234, 234, 1) 100%
  );
  background: -o-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 255, 255, 1) 0%,
    rgba(234, 234, 234, 1) 100%
  );
  background: -webkit-radial-gradient(
    center,
    ellipse,
    rgba(255, 255, 255, 1) 0%,
    rgba(234, 234, 234, 1) 100%
  );
  background: -o-radial-gradient(
    center,
    ellipse,
    rgba(255, 255, 255, 1) 0%,
    rgba(234, 234, 234, 1) 100%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 1) 0%,
    rgba(234, 234, 234, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=1);
}

.order_block {
  text-align: center !important;
}

.order_block img {
  max-width: 400px;
  height: 300px;
}

.order_block h3 {
  font: bold 18px Arial !important;
  background: transparent;
}

#luckyshop_form,
#profit_form2,
#omni_form,
#everad_form,
#shakes_form,
#apilead_form,
#hp_form,
#p_hp_form,
#pw_hp_form,
#leadtrade_form,
#drcash_form,
#t_drcash_form,
#rocket_form,
#ad1_form,
#p_omni_form,
#m_leads,
#kma_form,
#adbees_form,
#crm_form,
#leadbit_form,
#cpagetti_form,
#monsterleads_form,
#tl_form,
#adeptcpa_form,
#burg_tl_form,
#scpa_pw_ad1_form,
#scpa_pw_hp_form,
#scpa_pw_tl_form,
#scpa_pw_apilead_form,
#scpa_pw_leadtrade_form,
#scpa_pw_drcash_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Proxima Nova", "Arial", "Helvetica Neue", sans-serif;
}

.time_remains {
  font-size: 1.1em;
  color: red;
  font-weight: bold;
}

.spin-result-wrapper {
  display: none;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  z-index: 999;
  left: 0;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.pop-up-window {
  position: relative;
  max-width: 400px;
  right: 0px;
  left: 0px;
  top: 40%;
  margin: 0px auto;
  background: #ffffff none repeat scroll 0% 0%;
  text-align: center;
  padding: 10px;
  padding-top: 70px;
  padding-bottom: 20px;
  border-radius: 10px;
  animation: 0.7s ease 0s normal none 1 running pop-up-appear;
}

.close-popup {
  position: absolute;
  width: 30px;
  height: 30px;
  background-size: 100%;
  top: -40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff;
  right: -40px;
  cursor: pointer;
  background-image: url(https://d7.pvdwxdhcompfss.com/lander/oculus-vision-meridian---dz---tl---nn88/img/cross.svg);
  background-size: 100%;
}

.pop-up-heading {
  font-size: 40px;
  margin-bottom: 20px;
}

.pop-up-text {
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 30px;
  text-align: center !important;
}

.pop-up-button {
  text-transform: uppercase;
  text-decoration: none !important;
  padding: 10px 20%;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgb(113, 195, 65);
  color: rgb(255, 255, 255) !important;
  border: medium none;
  cursor: pointer;
  outline: medium none;
}

.super-rotation {
  -webkit-animation-name: super-rotation;
  animation-name: super-rotation;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

@-webkit-keyframes super-rotation {
  70% {
    -webkit-transform: rotate(1909deg);
    transform: rotate(1909deg);
  }

  100% {
    -webkit-transform: rotate(1868deg);
    transform: rotate(1868deg);
  }
}

@keyframes super-rotation {
  70% {
    -webkit-transform: rotate(1909deg);
    transform: rotate(1909deg);
  }

  100% {
    -webkit-transform: rotate(1868deg);
    transform: rotate(1868deg);
  }
}

.cursor-text:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
}

.pop-up-layer {
  position: fixed !important;
  top: 0px !important;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.7) !important;
  z-index: 99 !important;
}

.pop-up-layer-show {
  display: block;
}

.pop-up-window {
  position: relative;
  max-width: 400px;
  right: 0px;
  left: 0px;
  top: 40%;
  margin: 0px auto;
  background: #fff none repeat scroll 0% 0%;
  text-align: center;
  padding: 10px;
  padding-top: 70px;
  padding-bottom: 20px;
  border-radius: 10px;
  animation: 0.7s ease 0s normal none 1 running pop-up-appear;
}

.pop-up-window::before {
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  top: -55px;
  left: 0;
  right: 0px;
  margin: 0 auto;
  background-color: rgb(113, 195, 65);
  border-radius: 50%;
  animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-before;
}

.pop-up-window::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  top: -20px;
  left: 0px;
  right: 0;
  margin: 0 auto;
  border-width: medium medium 4px 4px;
  border-style: none none solid solid;
  border-color: currentcolor currentcolor rgb(255, 255, 255) rgb(255, 255, 255);
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  transform: rotate(-45deg);
  transition: opacity 1s ease 0s;
  animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-after;
}

.text_small {
  font-size: 0.5em !important;
  font-weight: normal !important;
}

@keyframes pop-up-appear {
  0% {
    transform: translateY(-2000px);
  }

  30% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes pop-up-appear-before {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes pop-up-appear-after {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.pop-up-button:hover {
  color: rgb(255, 255, 255) !important;
  text-decoration: none !important;
}

@media all and (max-width: 520px) {
  .cursor-text {
    line-height: 49px !important;
    font-size: 12px !important;
  }

  .desktop {
    display: none;
  }

  .c-app-nav > li > a {
    margin-left: 15px;
  }
}

@media screen and (max-width: 345px) {
  .wheel {
  }

  .cursor-text {
    line-height: 40px !important;
    font-size: 11px !important;
  }
}

@media screen and (max-width: 460px) {
  .c-post-img.u-blur {
    transform: translate(3%, -7%) !important;
  }
}

@media screen and (max-width: 430px) {
  .c-post-img-wrap img {
    min-height: 0 !important;
  }
}

@media screen and (max-width: 370px) {
  #p0 {
    padding: 0 10px 0 10px !important;
  }

  .c-post-img.u-blur {
    transform: translate(5%, -10%) !important;
  }
}

.offer-info {
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  text-align: center;
}

.offer-info__title {
  text-align: center;
  display: inline-block;
  position: relative;
  padding-left: 50px;
  margin: 0 0 22px;
}

.offer-info__title::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-image: url("https://d7.pvdwxdhcompfss.com/lander/oculus-vision-meridian---dz---tl---nn88/files/logo_univer.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.offer-info-inner {
  font-size: 0;
  text-align: center;
  margin-bottom: 22px;
}

.offer-info__discount,
.offer-info__product {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
}

.offer-info__discount {
  width: 40%;
  text-align: center;
}

.offer-info__discount-coupon {
  display: inline-block;
  padding: 10px 15px;
  text-align: center;
  border: 2px dashed #000000;
  border-radius: 8px;
  position: relative;
  min-width: 120px;
  box-sizing: border-box;
}

.offer-info__discount-coupon::before,
.offer-info__discount-coupon::after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("https://d7.pvdwxdhcompfss.com/lander/oculus-vision-meridian---dz---tl---nn88/files/scissors.svg");
  background-size: contain;
  background-position: center center;
}

.offer-info__discount-coupon::before {
  top: -9px;
  left: 10%;
}

.offer-info__discount-coupon::after {
  bottom: -9px;
  right: 10%;
  transform: rotate(180deg);
}

.coupon-price--old {
  text-decoration: line-through;
}

.coupon-price--new {
  font-size: 28px;
  font-weight: 700;
  color: #ff0000;
}

.offer-info__discount-annotation {
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

.offer-info__product {
  width: 60%;
}

@media all and (max-width: 1023px) {
  .offer-info__discount,
  .offer-info__product {
    display: block;
    width: 100%;
  }
  .offer-info__discount {
    margin-bottom: 22px;
  }
}

.offer-info__product-pic {
  display: block;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

@media all and (max-width: 1279px) {
  .s-from-nav,
  .u-glamor {
    display: none;
  }
}

.mb22 {
  margin-bottom: 22px;
}
@media screen and (max-width:760px) {
  .is-fixed.is-compressed .c-app-nav, .is-fixed.is-compression .c-app-nav {
    margin-top: -80px;
  }
  .c-nav.is-fixed {
    top: -40px;
  }
}
@media screen and (max-width:991px) {
  .commit-text:nth-child(-n+8) {
    
  }
  .com-txt {
    padding-left: 0;
  }
}
.heading {
  font-size: 60px;
  position: absolute;
  top: 310px;
  right: 220px;
}
.mpmin {
  display: none;
}
@media screen and (max-width:1600px) {
  .heading {
    top: 270px;
    right: 180px;
  }
}
@media screen and (max-width:1370px) {
  .heading {
    top: 250px;
    right: 180px;
  }
}
@media screen and (max-width:1280px) {
  .heading {
    font-size: 40px;
    top: 145px;
    right: 90px;
  }
}
@media screen and (max-width:760px) {
  .heading {
    font-size: 50px;
    top: 35%;
    right: 50%;
    margin-right: -145px;
  }
  .c-post-img {
    display: none;
  }
  
.mpmin {
  display: block;
}
.c-post-img-wrap {
  position: relative;
  width: 100%;
}
}
@media screen and (max-width:640px) {
  .heading {
    top: 30%;
  }
}
@media screen and (max-width:540px) {
  .heading {
    top: 25%;
  }
}
@media screen and (max-width:460px) {
  .heading {
    font-size: 40px;
    z-index: 10;
    margin-right: -120px;
  }
}
@media screen and (max-width:390px) {
  .heading {
    top: 20%;
  }
}
@media screen and (max-width:370px) {
  .heading {
    font-size: 30px;
    margin-right: -80px;
  }
  .p-name.c-post-title.u-uppercase.js-si-title {
    position: relative;
    top: 10px;
  }
}

.container_form{
  max-width: 600px;
  margin: 0 auto;
}
.form{
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  font-size: initial;
  font-weight: initial;
  text-align: center;
  border: 3px solid #00b2b6;
  margin-top: 10px;
  border-radius: 20px;
  padding: 20px;
  background-color: #caedf0;
  margin-bottom: 100px;
}
.form__foto{
  position: relative;
  max-width: 15px auto;
  position: relative;
  text-align: center;
  
}
.form__foto img{
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
}
.form__foto p{
  font-size: 30px;
  color: red;
}
#blink {
color: red;
font-size: 24px;
font-weight: 700;
text-align: center;
text-shadow: 0 0 5px #abc, 0 0 7px #abc;
}
@keyframes blur{
  from{
      text-shadow:0px 0px 10px gold,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px gold,
      0px 0px 25px gold,
      0px 0px 50px gold,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px gold,
      0px -10px 100px gold;}
}
.form_info{
  display: flex;
justify-content: center;
} 
.form_info h2{
  width: 130px;
  color: #6495ed;
  font-size: 36px; 
  display: flex;
  justify-content: center;
  padding: 10px 0px 10px 0px;
  margin-bottom: 2px;
  
}
.form_timer{
  
}
.countdown-title {
  display: flex;
  justify-content: center;
  color: red;
  font-weight: 100;
  font-size: 28px;
  margin: 40px 0px 20px;
}
 
.countdown {
  font-family: sans-serif;
  color: #6495ed;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
}
 
.countdown-number {
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 5px;
  border-top: 6px solid #6495ed;
  border-bottom: 6px solid #6495ed;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}
.priceс {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-family: 'Arial', sans-serif;
  right: 78px;
  bottom: 0;
  color: #000;
  box-shadow: rgb(0 0 0 / 80%) 0px 3px 30px;
  width: 140px;
  height: 140px;
  text-align: center !important;
  font-size: 19px;
  
  line-height: 1.3;
  transform: rotateZ(
-0deg
);
  margin: 0px auto 0px;
  background: linear-gradient(to right, rgb(238, 165, 19) 0%, rgb(253, 237, 19) 100%);
 
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-image: initial;
  border-radius: 50%;
}

.style_form{
  max-width: 480px;
  width: 100%;
  display: block !important;
  margin: 20px auto !important;
  text-align: center;
}
.name_input{
  font-size: 18px;
  display: block;
  margin: 0 auto 20px !important;
  padding: 10px !important;
  width: 100% !important;
  border: 2px solid #6495ed !important;
  border-radius: 5px !important;
  box-sizing: border-box;
  background-color: #caedf0;
  box-shadow: 0px 0px 4px 0.5px #000;
}
.data_lable{
  color: #6495ed;
  line-height: 30px;
  font-size: 22px;
}
.main_link{
  display: block;
  margin: 40px auto;
  padding: 15px;
  font-size: 18px;
  text-decoration: none;
  background-color: #de0606;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.main_link:hover{
  color: #fff;
  background-color: #7B96B8;
}